/*FOLHA DE ESTILO TIPO: EXTERNO*/

/*
    Existem 3 tipos de seletores

    tag - CSS= ex.: body{} HTML= <body></body>  -> muda somente uma tag especifica.
    class - CSS= ex.: .bgPink{} HTML= <p class="bgPink"></p>  -> arremete o atributo .
    id - CSS= ex.: #blue{} HTML= <p id="blue"></p>  -> funciona da mesma forma que o class.

    *não é recomendado utilizar o mesmo id em elementos diferentes!
*/

/*
    COR
    0 presença/255 ausência = mais escuro/menos escuro
        R 0-255
        G 0-255
        B 0-255
        A 0-1 (canal alpha = transparência)
    *em algumas IDEs como o VSCode por ex podem mostrar uma tabela de cor que pode facilitar na escolha das cores =)    

    HEXADECIMAL
        #123456789abcdef = pode utilizar esses numeros e letras para formar cores hexadecimais.
        #RRGGBB
    *o hexadecimal pode ser um pouco mais complicado para aplicar o alpha.
    *se digitar uma cor hexadecimal no google ele vai mostrar um seletor de cores hexadecimais.

    COD
        color: (cor); - cor do texto
        background-color: (cor); - cor do fundo (seja fundo do texto ou o fundo do site mesmo)
*/

/*
    *PODE TER MAIS DE UMA FOLHA DE ESTILO, FAÇA QUANTAS FOREM NECESSÁRIAS
    *OLHE OS ARQUIVOS ENQUANTO FAZ ISSO PARA SE ORIENTAR :)
*/

h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: rgb(236, 234, 234)
}

.txt {
    font-family: sans-serif;
    margin: 50px;
    text-align: center;
    font-size: 30px;
}

.corF {
    font-family: sans-serif;
    color: rgb(255, 0, 170);
    text-align: center;
    font-size: 30px;
}

.corBF {
    font-family: sans-serif;
    background-color: green;
    text-align: center;
    font-size: 30px;
}

.tamF {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.fonte {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
}

.txtLonge {
    font-family: sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none; /*tira o traço do link*/
}

ul{
    list-style: none; /*tira o ponto da lista*/
    margin: 0;
    padding-left: 0;
    background-color:#AB3BD2;
    
}

li{
    position: relative;
    display: block;
    float: left;
    padding: 1rem;/*altura das caixas do menu*/
    text-decoration: none;
    transition-duration: 0.5s;/*usa o tempo q quiser*//*é um fade quando passa o mouse*/
    background-color:#AB3BD2;
    border: 1px solid #9337B4;
  
    

   /* position: absolute;
    width: 1342px;
    height: 115px;
    left: 596px;
    top: 30px;

    background: #AB3BD2;
    border: 1px solid #9337B4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 49.5px 0px;*/
}

li a{
    color: rgb(255, 255, 255);
    font-family: 'Saira', sans-serif;
    

}

/*hover é um evento de passagem de mouse... quando passar o mouse em cima, o link vai ficar na cor selecionada*/
li:hover{
    background-color: #8e27b1;
}
/*primeiro ul e o segundo ul é oque esta dentro do primeiro ul*/
/*drop menu*/
ul li ul{
    visibility: hidden;/*esconde*/
    opacity: 0;
    position: absolute; /*esse elemento tem que ficar a frente de outros elementos*/
    margin: 1rem;
    left: 0rem; /*tirar o espaçamento esquerdo*/
    display: none; /*fique oculto*/
    
    
    
}
/*a ,(virgula) inicia uma nova herança, atribui alguma config para todos os elementos*/
ul li:hover > ul, ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    
    
}

figcaption {
    margin-bottom: 50px;
}

/*
.img{
    
    
}*/

/* Michelle Horn */

.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: rgb(195, 241, 195);
}

.positionRelative {
    position: relative;
    left: 20px;
    background-color: rgb(245, 149, 149);
    z-index: -1; /*sobreposto ou abaixo*/
}

.positionFixedTop {
    position: fixed;
    top: 0;
    right: 20px;
    background-color: rgb(208, 167, 246);
}

.positionFixedBottom {
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: rgb(208, 167, 246);
}

.positionAbsolute {
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: rgb(167, 192, 246);
}

.positionSticky {
    position: sticky;
    top: 5px;
    background-color: rgb(246, 221, 167);
}



/*BANDEIRAS*/

.qJapao{
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}
.bJapao{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 100px;/*borda arredondada*/
    margin-bottom: 50px;
    margin: 50px;
    margin-left: 137px;
}

.qAlemanha{
    width: 400px;
    height: 200px;
    background-color: yellow;
    margin-top: 20px;
    border: 1px solid black;
}
.vAlemanha{
    width: 400px;
    height: 66px;
    background-color: black;
}
.aAlemanha{
    width: 400px;
    height: 66px;
    background-color: red;
    
}

.qIndonesia{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid black;
}
.bIndonesia{
    width: 400px;
    height: 100px;
    background-color: red;
}

.qCanada{
    width: 400px;
    height: 200px;
    background-color: red;
    margin-top: 20px;
    border: 1px solid black;
}

.imgFolha{
    width: 100px;
    height: 100px;
    margin: 50px 50px;
    background-position: center;
}

.qBranco{
    width: 50%;
    height: 100%;
    background-color: white;
    background-position: center;
    margin-left: 95px;
}